@charset "UTF-8";
body {
/* 	background-image: url("https://cdn.wallpapersafari.com/65/96/BH0mxZ.jpg"); */
	background-image: url("../images/wallpaper.jpg");
	color: #004500;
	font-size: 1.5em;
	font-family: cursive;
}
.nav {
	background-color: #2B3324;
}
li a:link, li a:visited, li a:hover, li a:active {
	padding: 15px;
}
li:hover  {
	background: #90955D;
}
.nav-link, .nav-link:hover {
	color: #FFFFCC;
}
h1 {
	font-size: 3em;
	color: #1b1b1b;
}
#main {
	width: 90%;
	margin: auto;
	background-color: #2B3324CC;
	color: #FFFFCC;
}
table{
	background-color: #90955D;
	text-align: center;
	opacity: 1;
}
thead {
	background-color: #445c3c;
}
th:nth-child(3) {
	text-align: left;
}
td:nth-child(3) {
	text-align: left;
}
tr {
	border-bottom-color: black;
}
tr:last-child {
	border-bottom-color: #90955D;
}
.btn-toolbar {
	position: sticky;
	top: 0;
}
.button {
	font-size: 1em;
	background-color: #FFFFAA;
	padding: 5px;
	margin-left: 5px;
	border-radius: 10px;
	width: 100%;
}
.button:hover {
	background-color: #FFFF55;
}
.button:disabled {
	background-color: #FFFFAA;
}
.offcanvas, .offcanvas-title {
	background-color: #283227;
	color: #FFFFAA;
}
.offcanvas-body {
	text-align: justify;
}
#helpbutton {
	position: fixed;
	left: 0;
	top: 40%;
	height: 3vw;
	border-radius: 0 10px 10px 0;
	background-color: #FFFFAA;
}
#helpbutton:hover {
	background-color: #FFFF55;
}
