<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row mt-3 mb-3">
			<div class="col">
				<h1 class="text-center">Pontszámoló</h1>
			</div>
		</div>
		<div class="row p-5" id="main">
			<form action="#" th:action="@{/calculate}" th:object="${personTestDTO}" method="POST">
				<div class="row mb-5">
					<div class="col">
						<label class="form-label" for="arm">Kar-vállöv erő-állóképesség</label>
						<div class="row">
							<div class="col">
								<select class="form-select" id="arm" th:field="*{test.armFormOfMovement}">
									<option th:value="'0'">Fekvőtámasz</option>
									<option th:value="'1'">Húzódzkodás</option>
									<option th:value="'2'">Hajlított karú függés</option>
								</select>
							</div>
							<div class="col">
								<input class="form-control" type="number" th:field="*{test.armResult}" min="0" max="75">
							</div>
						</div>
					</div>
					<div class="col">
						<label class="form-label" for="trunk">Törzs erő-állóképesség</label>
						<div class="row">
							<div class="col">
								<select class="form-select" id="trunk" th:field="*{test.trunkFormOfMovement}">
									<option th:value="'0'">Felülés</option>
									<option th:value="'1'">Lapocka emelés</option>
									<option th:value="'2'">Függő térdemelés</option>
								</select>
							</div>
							<div class="col">
								<input class="form-control" type="number" th:field="*{test.trunkResult}" min="0" max="90">
							</div>
						</div>
					</div>
					<div class="col">
						<label class="form-label" for="circulation">Keringésrendszer állóképesség</label>
						<div class="row">
							<div class="col">
								<select class="form-select" id="circulation" th:field="*{test.circulationFormOfMovement}">
									<option th:value="'0'">3200m futás</option>
									<option th:value="'1'">2000m futás</option>
									<option th:value="'2'">1600m menet</option>
									<option th:value="'3'">Ergometria</option>
								</select>
							</div>
							<div class="col">
								<input class="form-control" type="number" th:field="*{test.circulationResult}" min="400" max="2800">
							</div>
						</div>
					</div>
					<div class="col-1">
						<label class="form-label" for="age">Kor</label>
						<input class="form-control" id="age" type="number" th:field="*{personAge}" min="18" max="100">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<fieldset class="border ps-3 pb-2">
							<legend class="float-none w-auto ps-2 pe-2">Neme</legend>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="female" th:field="*{person.male}" value="0"><label class="form-check-label" for="female">Nő</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="male" th:field="*{person.male}" value="1"><label class="form-check-label" for="male">Férfi</label>
							</div>
						</fieldset>
					</div>
					<div class="col align-self-center">
						<a th:href="@{/calculator}"><button class="button" type="button">Töröl</button></a>
					</div>
					<div class="col align-self-center">
						<button class="button" type="submit">Számol</button>
					</div>
				</div>
				<div class="row ">
					<div class="col text-center">
						<p>Eredmény: <span th:text="*{test.score}">0</span> pont</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>