<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title th:text="${page_title}">Személy törlése</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<h1 class="text-center mt-3 mb-3">Biztosan szeretnéd törölni a kiválasztott személyt?</h1>
		<div class="row mt-5 justify-content-center">
			<div class="col-3">
				<form action="#" th:action="@{/person/delete}" th:object="${person}" method="POST">
					<input type="hidden" th:field="*{id}">
					<button type="submit" class="button">Igen</button>
				</form>
			</div>
			<div class="col-3">
				<a th:href="@{/display}"><button type="button" class="button">Nem</button></a>
			</div>
		</div>
	</div>
</body>
</html>