<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 	<link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- 	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- 	<link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row mt-3 mb-3">
			<div class="col-sm-12">
				<h1 class="text-center">Személyek listája</h1>
			</div>
		</div>
		<form action="#" th:action="@{/person}" method="POST">
			<div class="row p-5" id="main">
				<div class="col-md-8">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr><th>Sorszám</th><th>SZTSZ</th><th>Név, rendfokozat</th><th>Kijelölés</th></tr>
							</thead>
							<tbody>
								<tr th:each="person : ${persons}">
									<td th:text="${person.id}"></td>
									<td th:text="${person.militaryId}"></td>
									<td th:text="${person.name + ' ' + person.rank.getFullName}"></td>
									<td><input class="form-check-input" type="radio" name="selectedPerson" th:value="${person.id}" required></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
						<div class="btn-group-vertical btn-group-lg m-auto" role="group" aria-label="First group">
							<button type="button" class="button" onclick="window.location.href='./person/new'">Új személy</button>
							<button type="submit" name="action" value="update" class="button" th:disabled="${persons.isEmpty}">Módosítás</button>
							<button type="submit" name="action" value="delete" class="button" th:disabled="${persons.isEmpty}">Törlés</button>
							<button type="submit" name="action" value="testOverview" class="button" th:disabled="${persons.isEmpty}">Felmérések megtekintése</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>