<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row mt-5 mb-5 justify-content-center">
			<div class="col-6">
				<h1 class="text-center">Valami hiba történt!</h1>
			<h2 class="text-center">Szólj a rendszergazdának, aki megnézi a problémát!</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-2">
				<a th:href="@{/}"><button type="button" class="button">Kezdőlap</button></a>
			</div>
		</div>
	</div>
</body>
</html>