<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row mt-5 pt-5 justify-content-center">
			<div class="col-2">
				<a th:href="@{/display}"><button type="button" class="button">Bejelentkezés</button></a>
			</div>
		</div>
	</div>
</body>
</html>