<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/person.css}">
	<title th:text="${page_title}">Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row mt-3 mb-3">
			<div class="col-sm-12">
				<h1 th:text="${page_title}" class="text-center">Fizikai állapot felmérő applikáció</h1>
			</div>
		</div>
		<div id="main">
			<form action="#" th:action="@{/person/save}" th:object="${person}" method="POST">
				<div class="row">
					<div class="col">
						<label for="name">Név: </label><input type="text" class="form-control" th:field="*{name}" id="name" required>
					</div>
					<div class="col">
						<label for="rank">Rendfokozat: </label>
						<select class="form-select" id="rank" th:field="*{rank}" required/>
							<option value="" selected disabled>Válassz!</option>
							<option th:each="rank : ${T(com.mycompany.physicaltestmanager.model.Rank).values()}" th:value="${rank.name}"
							th:text="${rank.getFullName}" th:selected="${person.rank == rank}"></option>
						</select>
					</div>
					<div class="col">
						<label for="birthDate">Születési dátum: </label>
						<input class="form-select" id="birthDate" type="date" th:field="*{birthDate}" required>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="militaryId">Személyi törzsszám: </label><input type="number" id="militaryId" class="form-control" th:field="*{militaryId}" min="10000000" max="99999999">
					</div>
					<div class="col">
						<label for="mothersMaidenName">Anyja neve: </label><input type="text" id="mothersMaidenName" class="form-control" th:field="*{mothersMaidenName}" required>
					</div>
					<div class="col">
						<label class="label" for="unit">Alakulat: </label>
						<select class="form-select" id="unit" th:field="*{unit}" required/>
							<option value="" selected disabled>Válassz!</option>
							<option th:value="'Bocskai'" th:selected="${person.unit == 'Bocskai'}">Bocskai</option>
							<option th:value="'Klapka'" th:selected="${person.unit == 'Klapka'}">Klapka</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="height">Magasság: </label><input class="form-select" id="height" type="number" th:field="*{height}" min="130" max="230">
					</div>
					<div class="col">
						<label for="weight">Súly: </label><input class="form-select" id="weight" type="number" th:field="*{weight}" min="40" max="170">
					</div>
					<div class="col">
						<label for="bodyFat">Testzsír százalék: </label><input class="form-select" id="bodyFat" type="number" th:field="*{bodyFat}" step="0.01">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<fieldset class="border ps-3 pb-2">
							<legend class="float-none w-auto ps-2 pe-2">Neme</legend>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="female" th:field="*{male}" value="0"><label class="form-check-label" for="female">Nő</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="male" th:field="*{male}" value="1"><label class="form-check-label" for="male">Férfi</label>
							</div>
						</fieldset>
					</div>
				</div>
				<input type="hidden" th:field="*{id}">
				<div class="row pb-5 mb-5">
					<div class="col">
						<button class="button" type="submit">OK</button>
					</div>
					<div class="col">
						<a th:href="@{/display}"><button type="button" class="button">Vissza</button></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>