<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/test_overview.css}">
	<title th:text="${page_title}">Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<h1 class="text-center mt-3 mb-3" th:text="${page_title}">Felmérések listája</h1>
		<div class="row p-5" id="main">
			<form action="#" th:action="@{/test}" th:object="${person}" method="POST">
				<div class="row">
					<th:block>
						<h2 class="text-center" th:if="${tests.isEmpty()}" th:text="'Nincs végrehajtott felmérése!'"></h2>
						<div class="table-responsive">
							<table th:unless="${tests.isEmpty()}" class="table table-hover">
								<thead>
									<tr><th>Végrehajtás ideje</th><th>Kar mozgásforma</th><th>Kar eredmény</th><th>Törzs mozgásforma</th>
									<th>Törzs eredmény</th><th>Keringés mozgásforma</th><th>Keringés eredmény</th><th>Pontszám</th>
									<th>BMI</th><th>Testzsír index</th><th>Kijelölés</th></tr>
								</thead>
								<tbody>
									<tr th:each="test : ${tests}">
										<td th:text="${test.dateOfExecution}"></td>
										<th:block th:switch="${test.armFormOfMovement}">
											<td th:case="'0'" th:text="'fekvőtámasz'"></td>
											<td th:case="'1'" th:text="'húzódzkodás'"></td>
											<td th:case="'2'" th:text="'hajlított karú függés'"></td>
										</th:block>
										<td th:text="${test.armResult}"></td>
										<th:block th:switch="${test.trunkFormOfMovement}">
											<td th:case="'0'" th:text="'felülés'"></td>
											<td th:case="'1'" th:text="'lapocka emelés'"></td>
											<td th:case="'2'" th:text="'függő térdemelés'"></td>
										</th:block>
										<td th:text="${test.trunkResult}"></td>
										<th:block th:switch="${test.circulationFormOfMovement}">
											<td th:case="'0'" th:text="'3200m futás'"></td>
											<td th:case="'1'" th:text="'2000m futás'"></td>
											<td th:case="'2'" th:text="'1600m menet'"></td>
											<td th:case="'3'" th:text="'ergometria'"></td>
										</th:block>
										<td th:text="${test.circulationResult}"></td>
										<td th:text="${test.score}"></td>
										<td th:text="${test.bmi}"></td>
										<td th:text="${test.bodyFatIndex}"></td>
										<td><input class="form-check-input" type="radio" name="selectedTest" th:value="${test.id}" required></td>
									</tr>
								</tbody>
							</table>
						</div>
					</th:block>
				</div>
				<input type="hidden" name="militaryId" th:value="${person.militaryId}">
				<div class="row mt-5">
					<div class="col">
						<a th:href="@{/test/new} + '?militaryId=' + ${person.militaryId}"><button class="button" type="button">Új felmérés</button></a>
					</div>
					<div class="col">
						<button class="button" type="submit" name="action" value="update" th:disabled="${tests.isEmpty}">Módosítás</button>
					</div>
					<div class="col">
						<button class="button" type="submit" name="action" value="delete" th:disabled="${tests.isEmpty}">Törlés</button>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<a th:href="@{/display}"><button class="w-25 button" type="button">Vissza</button></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>