<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title th:text="${page_title}">Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row mt-3 mb-3">
			<div class="col-sm-12">
				<h1 class="text-center" th:text="${page_title}">Fizikai felmérés hozzáadása/módosítása</h1>
			</div>
		</div>
		<div class="row p-5" id="main">
			<form action="#" th:action="@{/test/save}" th:object="${test}" method="POST">
				<div class="row mb-5">
					<div class="col">
						<label class="form-label" for="arm">Kar-vállöv erő-állóképesség</label>
						<div class="row">
							<div class="col">
								<select class="form-select" id="arm" th:field="*{armFormOfMovement}" required/>
									<option value="" selected disabled>Válassz!</option>
									<option th:value="0" th:selected="${test.armFormOfMovement == 0}">Fekvőtámasz</option>
									<option th:value="1" th:selected="${test.armFormOfMovement == 1}">Húzódzkodás</option>
									<option th:value="2" th:selected="${test.armFormOfMovement == 2}">Hajlított karú függés</option>
								</select>
							</div>
							<div class="col">
								<input class="form-control" type="number" th:field="*{armResult}" min="0" max="75" required>
							</div>
						</div>
					</div>
					<div class="col">
						<label class="form-label" for="trunk">Törzs erő-állóképesség</label>
						<div class="row">
							<div class="col">
								<select class="form-select" id="trunk" th:field="*{trunkFormOfMovement}" required/>
									<option value="" selected disabled>Válassz!</option>
									<option th:value="0" th:selected="${test.trunkFormOfMovement == 0}">Felülés</option>
									<option th:value="1" th:selected="${test.trunkFormOfMovement == 1}">Lapocka emelés</option>
									<option th:value="2" th:selected="${test.trunkFormOfMovement == 2}">Függő térdemelés</option>
								</select>
							</div>
							<div class="col">
								<input class="form-control" type="number" th:field="*{trunkResult}" min="0" max="90" required>
							</div>
						</div>
					</div>
					<div class="col">
						<label class="form-label" for="circulation">Keringésrendszer állóképesség</label>
						<div class="row">
							<div class="col">
								<select class="form-select" id="circulation" th:field="*{circulationFormOfMovement}" required/>
									<option value="" selected disabled>Válassz!</option>
									<option th:value="0" th:selected="${test.circulationFormOfMovement == 0}">3200m futás</option>
									<option th:value="1" th:selected="${test.circulationFormOfMovement == 1}">2000m futás</option>
									<option th:value="2" th:selected="${test.circulationFormOfMovement == 2}">1600m menet</option>
									<option th:value="3" th:selected="${test.circulationFormOfMovement == 3}">Ergometria</option>
								</select>
							</div>
							<div class="col">
								<input class="form-control" type="number" th:field="*{circulationResult}" min="400" max="2800" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="form-label" for="dateOfExecution">Végrehajtás ideje: </label><input class="form-select" id="dateOfExecution" type="date" th:field="*{dateOfExecution}" required><br>
					</div>
					<div class="col align-self-center">
						<input type="hidden" th:field="*{militaryId}">
						<input type="hidden" th:field="*{id}">
						<button class="button" type="submit">OK</button>
					</div>
					<div class="col align-self-center">
						<a th:href="@{/test/overview} + '?militaryId=' + ${test.militaryId}"><button class="button" type="button">Vissza</button></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>