<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/script.js"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/tests.css}">
	<title>Fizikai állapot felmérő applikáció</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/display}">Személyek listája</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/tests}">Felmérések adatbázisa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/calculator}">Pontszámoló</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row mt-3 mb-3">
			<div class="col-sm-12">
				<h1 class="text-center">Felmérések adatbázisa</h1>
			</div>
		</div>
		<div class="row pt-5" id="main">
			<form action="#" th:action="@{/test/overview}" method="GET">
				<div class="row">
					<div class="col">
						<h2 class="text-center pb-5" th:if="${!hasAnyTests}" th:text="'Nincs végrehajtott felmérés!'"></h2>
						<div class="table-responsive">
							<table class="table table-hover" th:unless="${!hasAnyTests}" >
								<thead>
									<tr><th>Név, Rendfokozat</th><th>Végrehajtás ideje</th><th>Kar mozgásforma</th>
									<th>Kar eredmény</th><th>Törzs mozgásforma</th><th>Törzs eredmény</th><th>Keringés mozgásforma</th>
									<th>Keringés eredmény</th><th>Pontszám</th><th>BMI</th><th>Testzsír index</th><th>Kijelölés</th></tr>
								</thead>
								<tbody>
									<th:block th:each="person : ${persons}">
										<tr th:each="test : ${person.tests}">
											<td th:text="${person.name} + ' ' + ${person.rank}"></td>
											<td th:text="${test.dateOfExecution}"></td>
											<th:block th:switch="${test.armFormOfMovement}">
												<td th:case="'0'" th:text="'fekvőtámasz'"></td>
												<td th:case="'1'" th:text="'húzódzkodás'"></td>
												<td th:case="'2'" th:text="'hajlított karú függés'"></td>
											</th:block>
											<td th:text="${test.armResult}"></td>
											<th:block th:switch="${test.trunkFormOfMovement}">
												<td th:case="'0'" th:text="'felülés'"></td>
												<td th:case="'1'" th:text="'lapocka emelés'"></td>
												<td th:case="'2'" th:text="'függő térdemelés'"></td>
											</th:block>
											<td th:text="${test.trunkResult}"></td>
											<th:block th:switch="${test.circulationFormOfMovement}">
												<td th:case="'0'" th:text="'3200m futás'"></td>
												<td th:case="'1'" th:text="'2000m futás'"></td>
												<td th:case="'2'" th:text="'1600m menet'"></td>
												<td th:case="'3'" th:text="'ergometria'"></td>
											</th:block>
											<td th:text="${test.circulationResult}"></td>
											<td th:text="${test.score}"></td>
											<td th:text="${test.bmi}"></td>
											<td th:text="${test.bodyFatIndex}"></td>
											<td><input class="form-check-input" type="radio" name="militaryId" th:value="${test.militaryId}" required></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col">
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group-vertical btn-group-lg m-auto" role="group" aria-label="First group">
								<button class="button" type="submit" name="action" value="testOverview" th:disabled="${!hasAnyTests}">Felmérések megtekintése</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>